%btn{
    color: $smokyblack;
    font-weight: bolder;
    font-size: $small;
    display: inline-block;
    padding: 0 2rem;
    height: 2rem;
    line-height: 1.7rem;    
    text-decoration: none;
    background-color: $white;
    font-family: $raleway;
    font-size: $small;
    border: 0.1rem solid $smokyblack;
 
    &:hover{
        background-color: $lightgray;
        text-decoration: none;
        color: $smokyblack;
    }
    &:focus {
        border:$lightgray  solid;
      } 
}
.button{
    padding-top: 20px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;

    
}


.button-1{   
    @extend %btn; 
          
 }  